<div class="mx-auto md:w-7/12">
  <div class="container">
    <div class="flex flex-col gap-3 items-center">
      <h1 class="text-green-600 font-bold">CONTACTS</h1>
      <h1 class="text-3xl">Have a question?</h1>
      <p class="text-gray-400 text-sm">
        Do you have an idea? Let's discuss it and see what we can do together.
      </p>
    </div>

    <form class="my-10 flex flex-col gap-3 items-center">
      <input type="text" placeholder="Name Surname"
        class="w-full md:w-1/2 p-2 ring-1 rounded-sm ring-green-600 focus:outline-none focus:outline-green-800 focus:ring-0" />
      <input type="text" placeholder="Email"
        class="w-full md:w-1/2 p-2 ring-1 rounded-sm ring-green-600 focus:outline-none focus:outline-green-800 focus:ring-0" />
      <textarea type="text" placeholder="Message..." cols="10" rows="10"
        class="w-full md:w-1/2 p-2 ring-1 rounded-sm ring-green-600 focus:outline-none focus:outline-green-800 focus:ring-0"></textarea>
      <button type="button" class="w-full md:w-1/2 bg-green-600 hover:bg-green-700 focus:ring-2 focus:ring-green-300 focus:bg-green-600 text-white px-3 py-2 font-medium rounded-md cursor-pointer">Submit</button>
    </form>
  </div>
</div>