<div class="container mx-auto">
  <div class="flex flex-col items-center gap-3">
    <h1 class="text-green-600 font-bold">SERVICES</h1>
    <h1 class="text-3xl">What do I offer?</h1>
    <p class="w-1/2 text-center text-gray-400">
      My approach to website design is to create a website that
      strengthens your company`s brand while ensuring ease of use and
      simplicity for your audience
    </p>
  </div>
  
  <div class="p-5 sm:p-0 mx-auto grid md:grid-rows-2 md:grid-flow-col-dense gap-10">
    <div class="w-full cursor-pointer bg-white shadow-md rounded-lg p-5 flex flex-col gap-3" *ngFor="let a of [1,2,3,4,5,6]">
      <img src="assets/icon.png" alt="icon" class="w-10"/>
      <h1 class="font-medium text-lg">UI / UX Design</h1>
      <p class="text-gray-400">
        I specialize in creating interactive websites for individuals and small businesses. 
      </p>
      <a href="#" class="text-green-600 font-semibold text-sm">Read More</a>
    </div>
  </div>
</div>